# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Generated outputs
frames_output/
frames_dewarped/
building_occupancy_result/

# Secrets
.env

# Others
.pdf

